body {
    margin: 0;
    min-height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    gap: 15px;
}
li, a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header-logo, .links, .left-intro, .intro > img {
    max-width: 600px;
}
.header {
    background-color: #1F2937;
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
}
.links {
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}
.left-intro > button {
    background-color: #3882F6;
    width: 80px;
    height: 30px;
    color:#F9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.intro {
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 50px 300px;
    display: flex;
    justify-content: space-between;
}
.left-intro {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    font-size: 18px;
}
h1 {
    margin: 0;
}
.intro > img {
    flex: 1;
    object-fit: cover;
    margin-left: 20px;
}
.middle {
    display: flex;
    flex-direction: column;
}
.middle > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 25px 300px 0;
}
.box-images {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #1F2937;
    gap: 40px;
    padding: 25px 300px 50px;
}
.image-txt > img {
    border: solid 3px #3882F6;
    border-radius: 10px;
}
.image-txt > p{
    text-align: justify;
    margin-top: 10px;
}
.image-txt {
    max-width: 160px;
    max-height: 300px;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quote > figure {
    padding: 50px 300px;
    max-width: 1200px;
}
figcaption {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}